/* 
    @Author: MAD Project
    -------------------------------------------
    -Todo está ordenado por orden de aparición-
    -------------------------------------------
*/
*:focus {
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Roboto', Verdana, sans-serif;
}

.loginLink {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header'
        'main main sidebar'
        'main main footer';
    grid-gap: 10px;
    grid-template-columns: 60% 20%;
    grid-template-rows: 11% 79% auto;
    background-color: white;
}

/* Ayuda visual de la separacion 
.grid-container>div,
.footer {
    border: 1px solid black;
}

  FIN de Ayuda visual de la separacion */

.header {
    grid-area: header;
    background-color: #10a066;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    height: 70px;
    margin: 5px;
}

.logoImg {
    width: 100%;
    height: 100%;
}

.search {
    border-radius: 40px;
    margin-right: 60px;
    padding: 6px;
    font-size: 110%;
    border: none;
    height: 20px;
}

.main {
    grid-area: main;
    padding-top: 1%;
    /* Ocultar barra scroll en todos los navegadores */
    overflow: auto;
    max-height: 100%;
    margin-right: -100px;
    padding-right: 100px;
}

.hide-scroll {
    overflow: hidden;
    width: 137%;
    height: 110%;

}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonTema {
    background-color: #e8e8e8;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
    margin-bottom: 2%;
}

/* Subpágina de Temas */
.temaBox {
    display: flex;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
    margin-bottom: 2%;
}

.temaBox div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}

.temaBox div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 10px;
}

.temaBox div:nth-child(2):hover,
.respBox:nth-child(2):hover,
.votarBTN:hover {
    cursor: pointer;
}

.temaBox a {
    margin-left: 90%;
    color: #dd6e42;
    text-decoration: none;
}

.temaBox p {
    margin-right: .8%;
}

.votos {
    border-radius: 2px;
    margin-bottom: 5px;
    padding: 20px;
    border: 1px solid black;
}

.votarBTN {
    border-radius: 5px;
    border: none;
    background-color: #dd6e42;
    height: 20px;
    width: 100%;
    transition: .20s;
}

.votarBTN:active {
    background-color: #c46c49;
}

/* FIN subpágina de Temas */

/* Subpágina de respuestas */
.respBox {
    display: flex;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 10px;
    width: 92.8%;
    margin-left: 4%;
    margin-bottom: 2%;
}

.respBox div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 2em;
}

.respBox div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}

.respBox a {
    color: #dd6e42;
    text-decoration: none;
}

/* FIN subpágina de respuestas */

/* Barra lateral */
.sidebar {
    grid-area: sidebar;
}

.login {
    display: flex;
    flex-direction: column;
    width: 97%;
    background-color: #46494c;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.login h3 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.inp {
    box-shadow: 0;
    background-color: grey;
    width: 95%;
    height: 40px;
    border: solid 2px darkgrey;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: all 250ms ease;
    margin-left: 1%;
}

.inp:first-of-type {
    margin-bottom: -2px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.inp:nth-of-type(2) {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-bottom: 20px;
}

.loginBTN {
    border-radius: 5px;
    border: none;
    background-color: #dd6e42;
    height: 40px;
    margin-left: 1.6%;
    width: 96.5%;
    transition: .20s;
    font-size: 20px;
}

.loginBTN:hover {
    background-color: #df6738;
}

.login a {
    margin-top: 10px;
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
}

/* FIN Barra lateral */

.footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 80%;
    margin-bottom: -10%;
}

.logoFooter {
    margin-left: 1.5%;
    margin-right: 2%;
    width: 30%;
    height: 55%;
}

/* Versión movil */
@media (max-width: 459px) {
    .logo {
        width: 25%;
        height: 80%;
    }

    .loginLink {
        margin-right: 20%;
        font-size: 140%;
    }

    .login {
        margin-top: 25%;
        margin-left: 2%;
        width: 96%;
    }

    .footer {
        margin-bottom: -2.5%;
    }

    .logoFooter {
        width: 20%;
        height: 30%;
        margin-bottom: -2%;
    }
}

@media (min-width: 460px) and (max-width: 1350px) {
    .logo {
        width: 16%;
        height: 90%;
    }

    .loginLink {
        font-size: 190%;
        margin-right: 6%;
    }

    .login {
        margin-top: 15%;
        margin-left: 25%;
        width: 56%;
    }

    .footer {
        margin-bottom: -.5%;
    }

    .logoFooter {
        order: -1;
        width: 12.5%;
        height: 35%;
        margin-bottom: -1%;
    }
}

@media (max-width: 1350px) {
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: 8% 72% auto;
        grid-gap: 5px;
        grid-template-areas:
            "header"
            "sidebar"
            "main"
            "footer";
    }

    .loginLink {
        display: block;
        color: white;
        text-decoration: none;
        transition: .25s;
    }

    .loginLink:hover {
        color: #46494c;
    }

    .loginBTN {
        width: 45%;
    }

    .hide-scroll {
        width: 95%;
        margin: 2.5%;
    }

    .search {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .login {
        height: 0px;
        overflow: hidden;
        transition: 0.5s;
    }

    .abrirlogin {
        height: 80%;
        display: block;
        text-align: center;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .logoFooter {
        order: -1;
    }
}